.top__header{
    /* width: 1900px; */
    max-height: 70px;
    background: #313131;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.logo-bg{
    display: flex;
    width: 81px;
    height: 70px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center; 
}
.logo-img{
    /* border: 1px solid #FFFFFF; */
    width: 27px;
    height: 27px;
    background: url(../logo/logo-img.png);
}
.architect{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 26px;
    color: #FFFFFF; 
    /* text-align: center; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.nav__menu{
    display: flex;
    text-transform: uppercase;
    margin: 0 auto;
}
.nav__items{
    list-style-type: none; 
    margin-right: 35px;  
}
.search__menu{
    background: #000000;
    width: 68px;
    height: 70px;
    margin-left: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    background: url(../fa/fa-search.png);width: 17px;
    height: 17px;
}
.search:hover{
    transform: scale(2);
}
.menu_links{color: #FFFFFF;}
.menu_links:hover{color: #14B9D5;}
.header__background{
    /* display: flex; */
    width: 100%;
    height: 369px;
    background: url(../img/header-background.png);
    justify-content: center;
    align-items: center;
}

.header__background>span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    padding-top: 160px;
    text-align: center;
    margin-bottom: 44px;
}
.buttons__container{
    display: flex;
    justify-content: center;
    
}
.subscribe-btn-bg{
    background: #89CA62;
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5%;
    
}
.subscribe-btn-bg>span{
    color: #FFFFFF;
}
.best-articles-btn-bg,.subscribe-btn-bg{
    margin: 0px 10px 0 10px;  
}
.best-articles-btn-bg{
    background: #14B9D5;
    width: 170px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5%;}
.best-articles-btn-bg>span{
    color: #FFFFFF;
}    