.most-popular-posts{
    background: #F2F2F2;
    width: 100%;
    min-height: 1030px;
    margin: 0 auto;
}
.poular__posts{
    display: flex;
    justify-content: center;
    margin: 0px 0px 53px 0px;
    padding-top: 49px;
}
.poular__posts>span{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;}
.posts_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 1030px;
    align-content: center;
    align-items: flex-start;
}
.post__item{
    margin: 15px 15px 15px 15px;
    width: 370px;
    align-content:space-between;
}
.post__item-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

