*,
::after,
::before{
box-sizing: border-box;
margin: 0;
padding: 0;
}
a{
    text-decoration: none;
    color: inherit;  /*унаследуем цвет от родителя*/
}
.general-container{
    width: 100%;
    margin: 0 auto;
}
ul[class],
li[class]{
    /* margin: 0; */
    padding: 0;
    list-style: none;
}