@import "./reset.css";
@import "./header.css";
@import "../style/popularPosts.css";
.top__header{
    /*position: fixed;*/
}
.general-container{
    /* width: 1900px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* margin-right: auto;
    margin-left: auto; */}

.most_popular_clients{
    min-height: 588px;
    background-image: url(../img/Shape_23.png);
    background-size: cover;
    margin-bottom: 49px;
}  
.most_popular_clients>hr{
    /* background-color: #18B4CF; */
    border: 3px solid #18B4CF;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 106px;
} 
.popular_clients__text{
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding: 108px 0 87px;
    /* padding-bottom: 108px; */
} 
.nav__links{
    text-align: center;
}
.nav__block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}
.top__rated__text{
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 52px;
}
.img__item>img{
    width: 189px;
}
.imgs__line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 190px;*/
    margin-bottom: 48px;

}
.hot__news__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 51px;
}
.hot__news__items{
    display: grid;
    margin: 0 auto;
    width: 1145px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:35px;
    grid-template-areas: 
            "first__post first__post first__post second__post__content"
            "third__post__content third__post__content fourth__post__content fourth__post__content"
            "fifth__post__content fifth__post__content sixth__post__content sixth__post__content"
            "seventh__post__content eighth__post eighth__post eighth__post"
}

/*___________________________________*/
.first__post{
    grid-area:  first__post;
}
.second__post__content{
    grid-area:  second__post__content;
    background: #F9F7F7
}
.third__post__content{
    grid-area:  third__post__content;
}
.fourth__post__content{
    grid-area:  fourth__post__content;
}
.fifth__post__content{
    grid-area:  fifth__post__content;       
}
.sixth__post__content{
    grid-area:  sixth__post__content;
}
.seventh__post__content{
    grid-area:  seventh__post__content;
    background: #F9F7F7
}
.eighth__post{
    grid-area:  eighth__post;
}



/*___________________________________*/

.first__post,
.eighth__post{
    display: flex; 
    background: #F9F7F7;}
    /* grid-column: 1/3; 
/* ________________________________ */
.news__item__block{
    margin-bottom: 44px;
    /*display: flex;*/
}
.first__post__content,
.eighth__post__content{
    width: 350px;
    text-align: right;
    background: #F9F7F7;
    /*margin-right: 35px;*/
    
}
.first__post__content>h2,
.eighth__post__content>h2{
    padding: 41px 24px 14.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;

}
.first__post__content>p,
.eighth__post__content>p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0 24px 0;
    color: #5B6469;
    background: #F9F7F7;
}
.second__post__content__text,
.seventh__post__content>h2{
    text-align: center;
    padding-top: 14px;
    color: #353A3D;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background: #F9F7F7;
    /* grid-column: 1fr; */
}
.third__post__content, 
.fourth__post__content, 
.fifth__post__content,
.sixth__post__content{
    width: 554px;
    
}

.third__post__content>h2, 
.fourth__post__content>h2, 
.fifth__post__content>h2, 
.sixth__post__content>h2{
    text-align: right;
    padding: 12px 14px 15px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    background: #F9F7F7;
}
.third__post__content>p, 
.fourth__post__content>p, 
.fifth__post__content>p, 
.sixth__post__content>p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    padding: 0 14px 3px 13px;
    background: #F9F7F7;
}

.footer__class{
    background: #000000; 
    max-height: 80px;
    display: flex;
    
}
.footer__class>h2{
    color: #FFFFFF;
    padding:29px 25% 30px 20%;
    /*padding: 29px 559px 30px 367px;*/
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* position: relative; */
}
.footer__vector__logo{
    /* position: absolute; */
    padding: 29px 0 0 0;
    display: flex;
    /* top:24px; */
}





